@charset "gb2312";
/* index20120410.css
 * Created: 2012-04-10
 * Update: 2012-04-10
 * Author: amanda
 */
html, body, div, span,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;}
body{background:#fff;font:12px/1.5 Arial;text-align:center;background:#fff;word-wrap:break-word;word-break:break-all;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
:focus{outline:0;}
li{list-style-type:none;}
fieldset{border-style: none }
label,button{cursor: pointer;}
select,input,textarea{font:12px/1.2em tahoma,arial,\5b8b\4f53;}
.clearfix:after{content:".";height:0;visibility:hidden;display:block;clear:both;font-size:0;line-height:0;}
clearfix{*zoom:1;}
.fix{word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}
.clear{font-size:0;line-height:0;height:0;clear:both;overflow: hidden;display: block;}
.none{display:none;}
.wrapper img{border:0 none;vertical-align:top;}
.wrapper a{text-decoration: none;color:#444;outline: none;}
.wrapper a:hover{text-decoration:underline;color:#f00;}
.wrapper a:active {star:expression(this.onFocus=this.blur());}

/* menu */
.imenu,.imenu li,.imenu li a,.imenu ul li a b{ background:url(../images/difang/menubg.png)}
.imenu{ height:36px; line-height:36px; border-top:2px solid #f7f7f7; text-align:left; margin-bottom:10px; clear:both}
.imenu ul{ width:990px; margin:0 auto; height:36px;}
.imenu ul li{ height:36px; float:left; background-position:right -72px;}
.imenu ul li.last{ background:none;}
.imenu ul li a{ display:inline-block; height:36px;  }
.imenu ul li a,.imenu ul li a b{ display:inline-block; height:36px; line-height:36px;}
.imenu ul li a{padding-left:27px; margin:0 7px;}
.imenu ul li a b{padding-right:27px;font-size:14px; font-weight:bold;  color:#fff; cursor:pointer;}
.imenu ul li a:hover{ background-position:0 -36px; text-decoration:none; color:#226caa}
.imenu ul li a:hover b{background-position:right -36px; text-decoration:none;color:#226caa}
.imenu ul li.curr a,.imenu ul li.curr a:hover{background-position:0 -36px; text-decoration:none}
.imenu ul li.curr a b,.imenu ul li.curr a:hover b{background-position:right -36px;color:#1364a5;}

.crumb{height:18px; line-height:18px; color:#666}
.crumb i{ font-family:'ו'; font-style:normal; margin:0 5px;}
.crumb a{color:#1f6caa;}
.crumb a:hover{color:#fd5151;}
.wrapper{text-align:left;}

.difang-box{padding:10px 0 30px;}
.d-fenlei li{ margin:0 8px 8px 0;padding:8px 0 8px 10px;width:228px; height:47px; border:1px solid #ededed; display:inline; float:left; background:url(../images/difang/difangbg.png) no-repeat 0 -62px}
.d-fenlei li .difang-fenlei{ font-family:'ו'; margin-bottom:4px;height:24px; line-height:24px; display:block; clear:both;}
.d-fenlei li .difang-fenlei i a{ font-size:14px; font-weight:bold;  font-style:normal; color:#1f6caa;}
.d-fenlei li .difang-fenlei a.more{ color:#999;float:right}
.d-fenlei li a{font-size:13px; margin-right:7px; color:#666;}
.d-fenlei li a:hover, .d-fenlei li .difang-fenlei i a:hover, .d-fenlei li .difang-fenlei a:hover.more{color:#fd5151;}
.d-fenlei li.r-none{margin-right:0;}
.d-fenlei li.hoverbg{border:1px solid #80c5ea; background:url(../images/difang/difangbg.png) no-repeat 0 0px}

.hot-city{padding:5px 0; font-size:14px; line-height:30px; clear:both}
.hot-city dt{width:110px; font-weight:bold; float:left;}
.hot-city dd{margin-left:110px;}
.hot-city .city li{width:60px; height:30px; float:left;}
.hot-city .hot{border-bottom:1px dotted #d7e7f2; height:30px; zoom:1}
.web-map{ height:600px; clear:both; text-align:center;}
.difang-website{border:1px solid #b1d6fa;zoom:1; clear:both;}
.difang-website h3{height:34px; line-height:34px; font-size:14px; padding-left:10px; background:#f7fbff; color:#333;}
.website{width:100%;}
.website td, .website th{padding-left:10px;width:19.9%; height:34px; font-size:14px; line-height:34px; font-weight:normal; text-align:left; border:1px solid #e1effd; border-bottom:0; border-left:0;}
.website th{width:auto; border-right:0;}
.hot-city .city li a, .website td a, .website th a{color:#1f6caa;}
.hot-city .city li a:hover, .website td a:hover, .website th a:hover{color:#fd5151;}

/*
.banner{ margin-top:5px;width:210px; height:60px; float:right; background:#999999}
*/