@charset "gb2312";
/* english */
#logo img{ float:left; margin-right:100px;}
.sslect{ width:450px; float:left;margin:20px 0 0; }
.sslect b{ float:left; width:84px; height:30px; position:relative; z-index:8; display:inline-block; float:left; border:1px solid #7f9db9; }
.sslect b a{ display:inline-block; width:63px; height:30px; line-height:30px; background:url(../images/eng/searchbg.png) no-repeat; padding-left:21px; font-weight:100;}
.sslect b ul{ position:absolute; z-index:9; top:30px; left:-1px; width:84px;border:1px solid #7f9db9; border-top:0;}
.sslect b ul li a{ display:block; height:28px; line-height:28px; padding-left:21px; background:#fff;}
.sslect b ul li a:hover{ background:#eff6ff;}
.sslect_ipt{ float:left; width:270px; padding-left:8px; height:30px; line-height:30px; border:1px solid #7f9db9; border-left:none; background:#fff; font-size:16px;}
.sslect_btn{ width:72px; height:32px; line-height:32px; color:#fff; cursor:pointer; background:url(../images/eng/searchbg.png) 0 -30px no-repeat; border:0; float:left; margin-left:10px; font-size:14px;}
.path b{ display:inline-block; padding-left:17px; background:url(../images/eng/searchbg.png) 0 -62px no-repeat; font-weight:100;}
.wrap{ background:#f5faff; width:990px; margin:0 auto; border:1px solid #aed1f5;}
.wrap h2{ height:27px; line-height:27px; background:url(../images/eng/searchbg.png) 0 -87px repeat-x; display:block; font-weight:800; border-bottom:1px solid #a5c0f7; color:#4378af; font-size:14px;}
.wrap ul{ overflow:hidden;}
.wrap ul li{ width:148px; padding-left:16px; height:35px; line-height:35px; text-align:left; float:left; font-size:16px; border-right:1px solid #dce9f5; border-bottom:1px solid #dce9f5;}
.wrap ul li.norb{ border-right:0; width:149px;}
.wrap ul li.nobb{ border-bottom:0;}
.picnews{ padding:12px 0 5px 12px; height:100%; overflow:hidden;}
.picnews a{ display:inline-block; width:160px; height:140px; overflow:hidden; float:left; line-height:25px; font-size:12px; margin:0 0 0 28px;}
.picnews a img{ margin-bottom:2px; padding:3px; border:1px solid #ddddde;}
.picnews a:hover img{ border:1px solid #ff8c5f;}
.newsli{ height:100%; overflow:hidden; padding-bottom:10px; font-size:12px; text-align:left;}
.newsli dd{ width:50%; float:left; height:24px; line-height:24px;}
.newsli dd font{ margin-left:15px; font-size:12px;}
.newsli dd font a{ color:#4378af; margin-right:8px; display:inline-block;}
.newsli dd font a:hover{ color:#f60; text-decoration:underline;}