@charset "gb2312";
/* stock20120612.css
 * Created: 2012-06-12
 * Update: 2012-06-12
 * Author: zhuyi
 */

.fix{word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}
.clear{font-size:0;line-height:0;height:0;clear:both;overflow: hidden;display: block;}
.none{display:none;}
.wrapper img{border:0 none;vertical-align:top;}
.wrapper a{text-decoration: none;color:#444;outline: none;}
.wrapper a:hover{text-decoration:underline;color:#f00;}
.wrapper a:active {star:expression(this.onFocus=this.blur());}

/* menu */
.imenu,.imenu li,.imenu li a,.imenu ul li a b{ background:url(../images/stock/menubg.png)}
.imenu{ height:36px; line-height:36px; border-top:2px solid #f7f7f7; text-align:left; margin-bottom:10px; clear:both}
.imenu ul{ width:990px; margin:0 auto; height:36px;}
.imenu ul li{ height:36px; float:left; background-position:right -72px;}
.imenu ul li.last{ background:none;}
.imenu ul li a{ display:inline-block; height:36px;  }
.imenu ul li a,.imenu ul li a b{ display:inline-block; height:36px; line-height:36px;}
.imenu ul li a{padding-left:27px; margin:0 7px;}
.imenu ul li a b{padding-right:27px;font-size:14px; font-weight:bold;  color:#fff; cursor:pointer;}
.imenu ul li a:hover{ background-position:0 -36px; text-decoration:none; color:#226caa}
.imenu ul li a:hover b{background-position:right -36px; text-decoration:none;color:#226caa}
.imenu ul li.curr a,.imenu ul li.curr a:hover{background-position:0 -36px; text-decoration:none}
.imenu ul li.curr a b,.imenu ul li.curr a:hover b{background-position:right -36px;color:#1364a5;}

.crumb{height:18px; line-height:18px; color:#666}
.crumb i{ font-family:'宋体'; font-style:normal; margin:0 5px;}
.crumb a{color:#1f6caa;}
.crumb a:hover{color:#fd5151;}
.wrapper{text-align:left;}

.tjLinks{border:1px solid #c7d2dc; background:#fafdff; margin-top:10px; padding:4px 0 4px 14px; line-height:30px; overflow:hidden; zoom:1}
.tjLinks , .tjLinks a{color:#0c599a; font-size:14px}
.tjLinks li{width:138px; float:left}

.searchbox,.iconSpan,.inputSub,.toolsA .th,.toolsB .th,.toolsA li,.toolsB li,.sliderA .pagination,.sliderA .thead,.modA .th,.modA h2,.modA1 .th,.modA1 h2{background-image:url(../images/stock/stock_spr.png);background-repeat:no-repeat}
.modNews .th,.scrollBoxA .prev,.scrollBoxA .next,.ulTxtA li,.quotedCompany,.modNews .more{background-image:url(../images/stock/stock_ModNews.png); background-repeat:no-repeat}

.searchbox{border:1px solid #c7d2dc;background-position:0 0; background-repeat:repeat-x; margin-top:10px; height:37px; color:#515151; overflow:hidden}
.searchbox .iconSpan{padding-left:35px; margin:4px 75px 0 11px; display:inline; float:left; height:30px; line-height:30px; color:#000; font-size:14px; font-weight:700;background-position:-142px -196px;}
.searchbox input{float:left;}
.searchbox .raido{margin-top:12px; width:12px; height:12px}
.searchbox .checkContent{float:left; display:inline; margin:10px 35px 0 8px}
.searchbox .inputTxt{width:210px; height:17px; padding:3px; margin:6px 7px 0 0; border:1px solid #c9d1d6}
.searchbox .inputSub{width:59px; height:25px;margin-top:6px; cursor:pointer;border:0 none; background-position:-80px -196px;}

/*news*/
.modNews{width:436px; height:464px; float:left; margin:10px 10px 0 0; border:1px solid #c7d3dc; position:relative; overflow:hidden}
.modNews .th{height:36px; padding:14px 0 0 132px; background-position:0 0}
.scrollBoxA .prev,.scrollBoxA .next{width:13px; height:10px; margin:3px 5px 0 0; float:left; line-height:9999px; overflow:hidden; cursor:pointer}
.scrollBoxA .prev{background-position:0 -113px;}
.scrollBoxA .next{background-position:-18px -113px;}
.scrollBoxA ul{width:265px; height:16px; line-height:16px; float:left; overflow:hidden}
.modNews .hTitle{text-align:center; font-size:20px;font-weight:700; font-family:\9ED1\4F53;}
.modNews .hTitle,.modNews .hTitle a{color:#c5050b;}
.ulTxtA{margin:0 0 0 15px; display:block; overflow:hidden; padding:6px 0 6px 25px}
.ulTxtA li{width:330px; padding-left:12px; font-size:14px; line-height:26px; background-position:0 -209px;}
.ulTxtA li,.ulTxtA li a{color:#0c599a}
.fbold{font-weight:700}
.quotedCompany{width:400px; border-top:1px dashed #ddd; background-position:-418px -56px}
.modNews .more{width:31px; height:21px; padding:30px 0 0 20px; overflow:hidden; display:block; position:absolute; bottom:1px; right:1px; background-position:0 -57px}
.modNews .more a{width:26px; height:15px;line-height:9999px;overflow:hidden; display:block}
/*iframe*/
.ifrbox{border:1px solid #d6d6d6; padding:10px 0 0 10px; width:282px; height:222px; float:left; margin:16px 10px 0 0; background:#f1f1f1}
.hexun{height: 522px; }

/*tools*/
.toolsA,.toolsB{width:238px; margin-top:8px; float:left}
.toolsA .th,.toolsB .th{ height:25px; line-height:25px; margin-bottom:2px; text-indent:12px; font-weight:700;border:1px solid #dce3e7; background-position:0 -39px; background-repeat:repeat-x; color:#0c599a}
.toolsA ul,.toolsB ul{overflow:hidden; position:relative; margin-left:-8px; zoom:1}
.toolsA li,.toolsB li{height:20px; line-height:20px; text-align:center; overflow:hidden; float:left; display:inline; margin:4px 0 0 8px; color:#333}
.toolsA li{width:74px; background-position:right -231px}
.toolsB li{width:115px;background-position:right -256px}

/*sliderA*/
.sliderA{width:540px; height:217px; margin-top:8px; position:relative; overflow:hidden; border:1px solid #c5d1db; border-top:0 none; float:left}
.sliderA .pagination{background-position:0 -66px; background-repeat:repeat-x; padding-left:94px; line-height:32px; color:#333;width:446px; height:32px; overflow:hidden}
.sliderA .pagination span{float:left; padding:0 14px; height:32px;border-right:1px solid #c5d1db; cursor:pointer; overflow:hidden}
.sliderA .pagination span.selected{border-top:2px solid #c50b12; color:#c5050b; height:30px; line-height:30px; background:#fff; font-weight:700}
.sliderA h2{width:93px; height:32px; line-height:32px;border-right:1px solid #c5d1db; color:#0c599a; text-indent:9px; font-size:14px; position:absolute; left:0;top:0; z-index:99}
.sliderA .slider{width:540px; height:193px; overflow:hidden}
.sliderA .table{width:540px; height:193px; position:relative; text-align:center; background:#fff; line-height:22px}
.sliderA .table .thead{background-position:0 -98px; background-repeat:repeat-x; height:28px; line-height:28px; color:#808080; overflow:hidden}
.sliderA .table .even{background:#f0f6fa}
.sliderA .td80{width:80px; float:left}
.sliderA .td90{width:90px; float:left}
.sliderA .td120{width:120px; float:left}
.sliderA .td140{width:120px; float:left}
/*modA*/
.modA{border-left:1px solid #dde5eb;border-right:1px solid #dde5eb; margin-top:10px; width:988px; overflow:hidden}
.modA .th{background-position:0 -128px; background-repeat:repeat-x;width:988px; height:32px; overflow:hidden}
.modA h2{width:171px; height:32px; line-height:32px; background-position:0 -162px;color:#0C599A; text-indent:15px; font-size:14px;}
.modA ul li a{font-size:14px;}
.modA1{border-left:1px solid #dde5eb;border-right:1px solid #dde5eb;border-bottom:1px solid #dde5eb; margin-top:10px; width:988px; overflow:hidden; height:112px;}
.modA1 .th{background-position:0 -128px; background-repeat:repeat-x;width:988px; height:32px; overflow:hidden}
.modA1 h2{width:171px; height:32px; line-height:32px; background-position:0 -162px;color:#0C599A; text-indent:15px; font-size:14px;}
.modA1 ul li a{font-size:14px;}

/*ulTxtB*/
.ulTxtB{position:relative; margin-left:-1px; overflow:hidden; width:1000px; display:block}
.ulTxtB li{width:197px; height:38px; line-height:38px; text-indent:16px; border-bottom:1px solid #dde5eb;border-right:1px solid #dde5eb; float:left}
.ulTxtB li,.ulTxtB li a{color:#0c599a}